<!DOCTYPE html>
<html lang="en"> 
  <head>
  <meta charset="utf-8"><title>Agenda Contactos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" media='only screen and (min-width: 530px)and (min-device-width:481px)'href="/stylesheets/wide.css"/>
    <link rel="stylesheet" type="text/css" media='only screen and (max-width: 480px)'href="/stylesheets/smartphone.css"/>
  </head>
  <body>
    <div id="page_wrap" style="">
      <header class="main" id="h1">
      <center>
      </header>
        <nav class="main" style="padding:5px;" id="n1" role="navigation">
          <span><a href="/">  Inicio</a></span> </br>
          <a href="/registroContacto">Registrar Contactos</a>
        </nav>
        <section class="main" id="s1">
        <h2 style="Color: #089 padding-left: ">Agenda Contactos</h2>
          <%- body %>
        </section>
        <footer class="main" id="f1">
          <a href="">Contactenos</a>
        </footer>
    </div>

  </body>
</html>
